#============= qti_init_shell ==============
allow qti_init_shell bluetooth_efs_file:dir { read search };
allow qti_init_shell bluetooth_efs_file:file open;
allow qti_init_shell bluetooth_loader_exec:file { execute getattr open read };
allow qti_init_shell bluetooth_loader_exec:file execute_no_trans;
allow qti_init_shell ctl_start_prop:property_service set;
allow qti_init_shell efs_file:dir search;
allow qti_init_shell exported3_default_prop:property_service set;
allow qti_init_shell file_contexts_file:file { getattr open read };
allow qti_init_shell sysfs_android_usb:file write;
allow qti_init_shell vfat:dir search;

