#============= system_server ==============
allow system_server device:chr_file { ioctl read write };
allow system_server init:binder call;
allow system_server efs_file:dir search;
allow system_server exported_camera_prop:file { getattr open read };
allow system_server userspace_reboot_config_prop:file { getattr open read };
allow system_server userspace_reboot_exported_prop:file { getattr open read };
allow system_server vendor_security_patch_level_prop:file { getattr open read };
