# Fix DRM not being able to create directory
# by updating this rule
# allow vendor_init media_data_file:dir create_dir_perms;

# init: processing action (init.svc.mediadrm=running) from (/vendor/etc/init/android.hardware.drm@1.1-service.widevine.rc:1)
# init: Command 'mkdir /data/vendor/mediadrm 0770 media mediadrm' action=init.svc.mediadrm=running (/vendor/etc/init/android.hardware.drm@1.1-service.widevine.rc:2) took 4ms and failed: mkdir() failed on /data/vendor/mediadrm: Permission denied

#============= vendor_init ==============
allow vendor_init audio_data_file:dir setattr;
allow vendor_init bluetooth_data_file:dir setattr;
allow vendor_init camera_data_file:dir setattr;
allow vendor_init dhcp_data_file:dir setattr;
allow vendor_init media_data_file:dir create_dir_perms;
allow vendor_init proc:file rw_file_perms;
allow vendor_init radio_data_file:file create_file_perms;
allow vendor_init system_data_file:dir { add_name create setattr write };
allow vendor_init system_data_file:file create_file_perms;
allow vendor_init tombstone_data_file:dir { search setattr };
allow vendor_init unlabeled:dir { search setattr };
allow vendor_init unlabeled:file create_file_perms;
allow vendor_init vfat:dir search;
allow vendor_init wifi_data_file:file create_file_perms;
